@import "tailwindcss";

:root {
  height: 100%;
  width: 100%;

  --font-header: 'Cormorant Garamond', serif;  
  --font-body: 'Ovo', serif;               
  --font-navigation: 'Poppins', sans-serif;

  --color-text: #ffffff;
  --color-background: #0a1d1c;
  /* --color-background: #0a1a19; */
  --color-secondary: #fed6be;
  --color-primary: #f4b29a;
  --color-accent: #82e8c9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-header {
  font-family: var(--font-header);
}

.font-body {
  font-family: var(--font-body);
}
.font-navigation {
  font-family: var(--font-navigation);
}

.custom-button {
  background-color: transparent;
  color: var(--color-secondary);
  font-family: var(--font-navigation);
  border: 1px solid var(--color-primary);
  border-radius: 0.75rem; /* equivalent to rounded-xl */
  padding: 0.5rem 1rem; /* equivalent to px-4 py-2 */
  cursor: pointer;
}

.custom-button:hover {
  background-color: var(--color-primary);
  color: black;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
